
<style>
    html,body{
        background-color:floralwhite;
        height: 100%;
        width: 100%;
        margin: 0;
    }
    .box{
        background-color:#ed553b;
        text-align: center;
        max-width: 75%;
        min-height: 350px;
        margin:  auto;
        border-radius: 5%;

    }
    .ArialFontWhite{
        font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
        color: #ffffff;
    }
    input{
    width: 200px;
    height: 50px;
    margin:10px;
    border-style: none;
}
</style>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Create Ticket</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body class="ArialFontWhite">
<form method="post" action="addTicket">
    <div class="container" style="padding-inline: 50px;">
        <div style="max-width: 75%"class="col box center-block">
          <h2 class="text-center" style="padding-top: 50px;">Ticket Manager</h2>
          <h3 class="text-center">How can we help you {{user.username}}?</h3>
            <label for="location">Location</label>
        <div class="mb-3 row justify-content-center">
            <select class="form-control col-md-3 col-sm-12" name="location" id="location">
                <option value="Crimson">Stonehouse</option>
                <option value="Shea/Durgin">Shea/Durgin</option>
                <option value="Crimson">Crimson</option>
                <option value="Weygand">Weygand</option>
                <option value="Miles">Miles</option>
                <option value="DiNardo">DiNardo</option>
                <option value="Great Hill Apartments">Great Hill Apartments</option>
                <option value="Scott Hall">Scott Hall</option>
                <option value="Woodward Hall">Woodward Hall</option>
                <option value="Pope">Pope</option>
            </select><br>
        </div>
        <label for="location">Type </label>
        <div class="mb-3 row justify-content-center">
            <select class="form-control col-md-3 col-sm-12" name="type" id="type">
                <option value="Maintenance">Maintenance</option>
                <option value="HVAC">HVAC</option>
                <option value="IT/Electrical">IT/Electrical</option>
                <option value="Janitorial">Janitorial</option>
                <option value="other">other</option>
            </select><br>
        </div>
        <label for="location">Description </label>
        <div class="mb-3 row justify-content-center">
            <textarea cols="50" rows="10" name="description" placeholder="Enter your description for the isssue here"></textarea><br>
            <br><div style = "float:left;">&nbsp;</div>
        </div >
            <div style="padding-bottom: 50px;">
            <input type="submit" value="Open Ticket">
            </div>
        </div>
    </div>
</form>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>


<br> <a href="/notAdmin">Back to Home Page</a><br>

{{#if success}}
<h3 style="color:red;">Ticket created</h3>
{{/if}}


{{#if error}}
<p style="color: red;">{{error}}</p>
{{/if}}

<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
