<!DOCTYPE html>
<html>
<head>
    <title>How To Eat This</title>
    <meta charset="utf-8">
    <link href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" rel="stylesheet">


    <h1><i class="fas fa-paw"></i> Bear's Den Dining Stats <i class="fas fa-paw"></i></h1>
    <br>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>

          p{background-color: red;  font-weight:bold;border-width: 15px;border-color:black;border-style: double;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size:28pt; color: black;margin-right:250px;text-align: left;margin-left:10%;margin-top:10%}
        h1{text-align: center;  background-color: #ff1700;font-family: 'Courier New', Courier, monospace ;}
        body, html {background-color: lime;height: 100%;margin: 0;font-family: 'Courier New', Courier, monospace ;}
        .backGround{
           background-image: url("/images/background.jpg");
            background-repeat: no-repeat;
            background-position-x: 60%;
            background-size: cover;
        }
    </style>
</head>
<body>
<div class="backGround">
    <img src = "background.jpg">
</div>


<div>

    <p>
        Quality of Service<i class="fas fa-star"style="font-size:54px color:white;"></i> <i class="fas fa-star"style="font-size:54px color:white;"></i>
        <br>Speed of Service<i class="fa fa-star "style="font-size:24px color:white;"></i>
        <br>Quality of Food<i class="fas fa-star"style="font-size:24px color:white;"></i><i class="fas fa-star"style="font-size:24px color:white;"></i><i class="fas fa-star"style="font-size:24px color:white;"></i><i class="fas fa-star"style="font-size:24px color:white;"></i>
        <br> How Busy the Hall is<i class="fas fa-users"style="font-size:24px color:white;"></i><i class="fas fa-users"style="font-size:24px color:white;"></i><i class="fas fa-users"style="font-size:24px color:white;"></i>
    </p>
</div>
</body>