    <title>How To Eat This</title>
    <meta charset="utf-8">
    <link href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" rel="stylesheet">


    <h1><i class="fas fa-paw"></i> How to Eat This?<i class="fas fa-paw"></i></h1>
    <br>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>

        p{font-family: "Arial",Arial, sans-serif; font-size:28pt; color: #ff1700;margin-right:250px;text-align: left;margin-left:10%;margin-top:10%}
        h1{text-align: center;  background-color: #ff1700;}
        .login{text-align: left;font-size:20pt;float:left;}
        body, html {  height: 100%;margin: 0;}
        .backGround{
            background-image: url("/public/images/background.jpg");
            background-repeat: no-repeat;
            background-position-x: 60%;
            background-size: cover;
        }
    </style>
</head>
<body>
<div class="backGround">

<div class="login">
         <i class="fa fa-user"style="font-size:54px color:white;"></i><a href="/login">log in </a>
</div>
<div>

        <p>
            <i class="fas fa-utensils"style="font-size:54px color:white;"></i><a href="/bearsDen">Bears Den</a>
            <br><i class="fa fa-trash "style="font-size:24px color:white;"></i><a href="/eastCampusCrap">ECC</a>
            <br><i class="fas fa-pizza-slice"style="font-size:24px color:white;"></i><a href="/crimson">Crimson</a>
            <br><i class="fas fa-hamburger"style="font-size:24px color:white;"></i><a href="/tilly">Tilly</a>
        </p>
</div>



</body>
